################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/myDBMS1/v16
/dbms_root
/x64/Debug
/backUp
